<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>qwen3</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>LLAMA_CACHE</key>
        <string>/var/tmp/llama-cache</string>
        <key>HOME</key>
        <string>/var/root</string>
    </dict>
    <key>ProgramArguments</key>
      <array>
        <string>/opt/homebrew/bin/llama-server</string>
        <string>--model</string>
        <string>/usr/local/models/qwen3-coder:30b</string>
        <string>--host</string>
        <string>0.0.0.0</string>
        <string>--port</string>
        <string>8080</string>
        <string>--n-gpu-layers</string>
        <string>999</string>
        <string>--flash-attn</string>
        <string>on</string>
        <string>--ctx-size</string>
        <string>262144</string>
        <string>--jinja</string>
        <string>--reasoning-format</string>
        <string>none</string>
        <string>--verbose</string>
      </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/var/log/llama-server/llama-cpp-qwen.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/llama-server/llama-cpp-qwen.log</string>
  </dict>
</plist>
